language: java
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
deploy:
  provider: releases
  api_key: $GIT_OAUTH
  file:
    - "app/build/libs/app-1.0.jar"
  skip_cleanup: true
  draft: true